%img{:src => 'http://hon-players.impulse.limi.co.uk/players_day.png', :height => 180}
%img{:src => 'http://hon-players.impulse.limi.co.uk/players_week.png', :height => 180}
%img{:src => 'http://hon-players.impulse.limi.co.uk/players_month.png', :height => 180}