%img{:src => 'http://disneyland.paris.queues.limi.co.uk/7days_average_queue.png', :height => 180}
%img{:src => 'http://disneyland.paris.queues.limi.co.uk/31days_average_queue.png', :height => 180}
%img{:src => 'http://disneyland.paris.queues.limi.co.uk/365days_average_queue.png', :height => 180}